<div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Hypotheek versneld aflossen</h2>
</div>

<div class="row">
  <div class="col-5">
    <form>
      <table class="table table-borderless">
        <tr>
          <td>
            <label for="originalTotalLoan" class="form-label">Totale hypotheek</label>
          </td>
          <td>
            <div class="input-group">
              <span class="input-group-text">€</span>
              <input type="text" class="form-control" id="originalTotalLoan">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="originalLoanTerm" class="form-label">Orginele looptijd</label>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" id="originalLoanTerm">
              <span class="input-group-text">Years</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="interest" class="form-label">Rente</label>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" id="interest">
              <span class="input-group-text">%</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="align-top">
            <label class="form-label">Resterende looptijd</label>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" id="remainingYears">
              <span class="input-group-text">Jaren</span>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" id="remainingMonths">
              <span class="input-group-text">Maanden</span>
            </div>
          </td>
        </tr>
      </table>
      <div class="d-flex justify-content-end pe-2">
        <button type="submit" class="btn btn-primary">Bereken</button>
      </div>
    </form>

  </div>
  <div class="col">
    Column
  </div>
</div>

