<div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Hypotheek versneld aflossen</h2>
</div>

<div class="row">
  <div class="col-5">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <table class="table table-borderless">
        <tr>
          <td>
            <label for="originalTotalLoan" class="form-label">Totale hypotheek</label>
          </td>
          <td>
            <div class="input-group">
              <span class="input-group-text">€</span>
              <input type="number" class="form-control" id="originalTotalLoan" formControlName="originalTotalLoan">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="originalLoanTerm" class="form-label">Orginele looptijd</label>
          </td>
          <td>
            <div class="input-group">
              <input type="number" class="form-control" id="originalLoanTerm" formControlName="originalLoanTerm">
              <span class="input-group-text">Years</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="interest" class="form-label">Rente</label>
          </td>
          <td>
            <div class="input-group">
              <input type="number" class="form-control" id="interest" formControlName="interest">
              <span class="input-group-text">%</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="align-top">
            <label class="form-label">Resterende looptijd</label>
          </td>
          <td>
            <div class="input-group">
              <input type="number" class="form-control" id="remainingYears" formControlName="remainingYears">
              <span class="input-group-text">Jaren</span>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" id="remainingMonths" formControlName="remainingMonths">
              <span class="input-group-text">Maanden</span>
            </div>
          </td>
        </tr>
      </table>
      <div class="d-flex justify-content-end pe-2">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Bereken</button>
      </div>
    </form>

  </div>
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Maand</th>
        <th scope="col">Aflossing</th>
        <th scope="col">Rente</th>
        <th scope="col">Openstaande lening</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let payment of paymentsPerYear; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{payment.paymentAmount | number : '1.0-0'}}</td>
        <td>{{payment.interestAmount | number : '1.0-0'}}</td>
        <td>{{payment.remainingLoan | number : '1.0-0'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

